venv/
*.pyc
*.log
*.fls
*.fdb_latexmk
*.gz
*.aux
*.bbl
*.blg
*.pth
*.h5
paper/*.pdf
*.zarr
results/
gs3d/GraspNetEval/dump_folder/
gs3d/GraspNetEval/models/
gs3d/GraspNetEval/scenes/
gs3d/GraspNetEval/grasp_label/
pathes.json
/paper